.footer {
  background-color: $brown-dark;
  padding: 70px 130px 20px 130px;

  &__container {
    padding-bottom: 54px;
    display: flex;
    justify-content: space-between;
  }

  &__logo_white {
    fill: $white;
    width: 150px;
    height: 30px;
  }

  &__list {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $white;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &:hover {
      color: $tomato-light;
    }
  }

  &__contact {
    color: $brown-light;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 48px;
  }

  &__social {
    display: flex;
    gap: 30px;
    padding-bottom: 35px;
  }

  &__icon {
    display: block;
    height: 30px;
    width: 30px;
    fill: $white;

    &:hover {
      fill: $tomato-light;
    }
  }

  &__phone {
    text-decoration: none;
    color: $brown-light;
    font-family: 'Montserrat';
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__text {
    color: $brown-light;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }
}
