.header {
  padding-right: 62px;
  padding-left: 62px;
  background: $brown-light;
  @include media-query('mobile') {
    padding-right: 16px;
    padding-left: 16px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 182px;
    height: 34px;
    fill: $tomato;

    @include media-query('mobile') {
      z-index: 1;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__icons {
    display: flex;
    gap: 30px;
    // width: 182px;
    justify-content: end;
    @include media-query('mobile') {
      gap: 10px;
    }
  }

  &__profile {
    width: 36px;
    height: 36px;
    fill: none;
    stroke: $black;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  &__search {
    width: 36px;
    height: 36px;
    fill: $black;
  }
  &__list {
    display: flex;
    justify-content: center;

    @include media-query('mobile') {
      flex-direction: column;
      gap: 2.3125rem;
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: block;
    padding: 28px 15px;
    text-decoration: none;
    color: $black;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &:hover {
      content: '';
      background-color: $tomato-light;
      color: $white;
    }
    @include media-query('mobile') {
      font-size: 1.125rem;
    }
  }

  &__nav {
    @include media-query('mobile') {
      display: none;
      position: fixed;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
      top: -1.875rem;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: $white;
      padding-top: 10rem;

      &.open {
        display: flex;
      }
      &.open .header__item:hover:after {
        content: '';
        display: none;
      }
    }
  }

  &__burger {
    display: none;
    @include media-query('mobile') {
      display: block;
      padding-right: 0.25rem;
      cursor: pointer;

      &.active &__item:nth-child(2) {
        opacity: 0;
      }

      &.active &__item:nth-child(1) {
        transform: translateY(0.4063rem) rotate(45deg);
      }

      &.active &__item:nth-child(3) {
        transform: translateY(-0.4063rem) rotate(-45deg);
      }
    }
    &__item {
      display: block;
      width: 1.5rem;
      height: 0.1563rem;
      margin: 0.25rem auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: $black;
    }
  }
}

body:has(.header__nav.open) {
  overflow: hidden;

  & .hero {
    opacity: 0;
  }

  & .logo {
    fill: $black;
  }
}
