.partners {
  background-color: $brown-light;
  padding-top: 70px;
  padding-bottom: 70px;

  &__title {
    padding-bottom: 40px;
  }

  &__logos {
    position: relative;
    padding-right: 107px;
    padding-left: 107px;
    @include media-query('mobile') {
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  &__arrow {
    position: absolute;
    top: -10%;
    @include media-query('mobile') {
      top: 0;
    }
    &_right {
      right: 40px;
      @include media-query('mobile') {
        right: 10px;
      }
    }
    &_left {
      left: 40px;
      @include media-query('mobile') {
        left: 10px;
      }
    }
  }

  // &__logo {
  //   margin: 0 10px;
  //   height: 70px;
  // }

  // &__slider {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   align-self: center;
  //   align-content: center;
  // }
}

.partners__slider .slick-list .slick-track .slick-slide {
  margin: 0 12px;
  height: 70px;
}
