:root {
  --black: #000000;
  --brown-dark: #35312d;
  --arrow-inactive: #202020;
  --tomato: #c62100;
  --tomato-light: #f16a50;
  --brown-light: #f8f1ea;
  --dot-inactive: rgba(248, 241, 234, 0.7);
  --dark-dot-inactive: #cac2ba;
  --white: #ffffff;

  --montserrat: 'Montserrat', sans-serif;
}

$black: var(--black);
$brown-dark: var(--brown-dark);
$arrow-inactive: var(arrow-inactive);
$tomato: var(--tomato);
$tomato-light: var(--tomato-light);
$brown-light: var(--brown-light);
$dot-inactive: var(--dot-inactive);
$dark-dot-inactive: var(--dark-dot-inactive);
$white: var(--white);

@mixin media-query($breakpoint) {
  @if $breakpoint == 'mobile' {
    @media only screen and (max-width: 799px) {
      @content;
    }
  } @else if $breakpoint == 'tablet' {
    @media only screen and (max-width: 1023px) {
      @content;
    }
  } @else if $breakpoint == 'desktop' {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
}
