.hero {
  padding-top: 9.375rem;

  @include media-query('mobile') {
    padding-top: 16.625rem;
  }

  &__title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.75rem;
    font-weight: 400;
    line-height: 3.25rem;
    text-align: left;
    color: $color-dark-blue;
    max-width: 32.6875rem;

    @include media-query('mobile') {
      font-size: 2.25rem;

      line-height: 2.75rem;
    }

    &_green {
      font-style: italic;
      color: $color-green;
    }
  }

  &__text {
    max-width: 27.4375rem;
    padding-top: 1.25rem;
    padding-bottom: 3rem;

    @include media-query('mobile') {
      font-size: 1.125rem;
      line-height: 1.5rem;
      padding-bottom: 1.75rem;
    }
  }
}
