.promises {
  padding-bottom: 7.125rem;
  display: flex;
  align-items: center;
  @include media-query('mobile') {
    padding-bottom: 4rem;
  }

  &__image {
    @include media-query('tablet') {
      display: none;
    }
  }
  &__right {
    width: 100%;
    padding-left: 4.375rem;
    margin-left: -12.5rem;
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: $color-white;
    opacity: 0.9;
    column-gap: 6.25rem;
    row-gap: 3.75rem;

    @include media-query('tablet') {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-left: 0rem;
    }

    @include media-query('mobile') {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      justify-items: center;
      padding-top: 3.625rem;
      padding-bottom: 0;
      row-gap: 2rem;
    }
  }

  &__item {
    max-width: 18.75rem;

    &:last-child {
      padding-top: 0.875rem;
      @include media-query('mobile') {
        width: 100%;
        padding-top: 0;
      }
    }
  }

  &__title {
    color: $color-dark-blue;
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    padding-bottom: 0.5rem;
    @include media-query('mobile') {
      text-align: center;
      font-size: 1.25rem;
      line-height: 1.5rem;
      padding-bottom: 0.75rem;
    }
  }

  &__text {
    color: $color-dark-blue;
    opacity: 0.8;
    padding-bottom: 0.5rem;
    @include media-query('mobile') {
      text-align: center;
      padding-bottom: 0rem;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;

    &_border {
      border: 0.0625rem solid $color-grey;
      padding-top: 2.0625rem;
      padding-bottom: 2.0625rem;
      @include media-query('mobile') {
        width: 100%;
      }
      &:hover {
        border: 0.0625rem solid $color-dark-red;
      }

      &:hover .button {
        color: $color-dark-red;
      }

      &:hover .button::after {
        background: $color-dark-red;
      }
    }
  }
}

.button:hover .promises__button_border {
}
