@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-image: url(img.webp);

  display: flex;
  padding: 30px 60px 30px 60px;
  gap: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  /* border: 2px solid white; */
  overflow: hidden;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

a {
  display: inline-block;

  padding: 8px;
  padding-left: 16px;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: left;
}

h2 {
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 16px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 20px 20px 0 0;
}

li {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}
li:hover {
  background: rgba(165, 117, 224, 0.388);
}

li:last-child {
  padding-top: 10px;
  padding-bottom: 10px;

  background: rgba(241, 191, 255, 0.4);
  border-radius: 0 0 20px 20px;
}

li:hover {
  background: rgba(165, 117, 224, 0.388);
}

.sub {
  font-size: 14px;
}
