.container {
  max-width: 1170px;
  padding-left: 135px;
}
.header {
  border-bottom: 1px solid #efeef3;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo {
  display: flex;
  gap: 12px;
  align-items: center;
}

.logo__text {
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}
.main__content {
  padding-top: 95px;
  padding-bottom: 100px;
}
.main__subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #7690a8;
  padding-bottom: 15px;
}

.main__title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #16133d;
  padding-bottom: 34px;
}
.main__cards {
  display: flex;
  gap: 30px;
}

.card__icon {
  height: 36px;
  width: 36px;
  display: block;
  margin: 0 auto;
  --color-1: #e8f3ff;
  --color-2: #d1e7ff;
  --color-3: #b9dcff;
  --color-4: #007ffc;
}

.card__icon_border {
  height: 64px;
  width: 64px;
  border: 1px solid var(--color-border);
  align-content: center;
  border-radius: 16px;
  --color-border: rgba(21, 101, 216, 0.1);
}

.card__title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 21.28px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #16133d;
  padding-bottom: 15px;
  padding-top: 26px;
}
.card__text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #16133d;
  padding-bottom: 26px;
}

.card__action {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 18.75px;
  text-align: left;
  color: #3db370;
}

.card {
  padding: 40px;
  border: 1px solid #e5eaf4;
  border-radius: 8px;
}
.card:hover {
  border: 1px solid #3db370;
}

.card:hover .card__icon_border {
  --color-border: rgba(61, 179, 112, 0.1);
}

.card:hover .card__icon {
  --color-1: #f4feff;
  --color-2: #e1f4f5;
  --color-3: #caeff2;
  --color-4: #52c29d;
}

.footer {
  background-color: #16133d;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__logo {
  color: white;
  padding-bottom: 40px;
}

.footer__icon {
  width: 38px;
  height: 38px;
  --color-footer: #16133d;
}

.footer__icon:hover {
  --color-footer: #3db370;
}

.footer__icons {
  display: flex;
  gap: 10px;
}
