@import '_reset-style.scss';
@import '_variables.scss';
@import '_font.scss';
@import '_header.scss';
@import '_main.scss';
@import '_footer.scss';

main {
  width: 100vw;
}
.container {
  max-width: 73.125rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0 auto;
}

.quote {
  stroke: url(../index.html#quote_gradient);
  fill: none;
}
