@import '_reset-style.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

.movie-list,
.pagination,
.movie-details {
  margin-top: 20px;
}
.movie-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.movie-item button {
  margin-left: 10px;
}
