/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  width: 100%;
  margin-top: 1.875rem;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.5)), color-stop(24.1%, rgba(255, 255, 255, 0.24)), color-stop(47.19%, rgba(255, 255, 255, 0))), rgba(255, 255, 255, 0.02);
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  -webkit-backdrop-filter: blur(4.5008px);
          backdrop-filter: blur(4.5008px);
}
@media only screen and (max-width: 1023px) {
  .header {
    margin-top: 0.8125rem;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  padding-top: 1.45rem;
  padding-bottom: 1.25rem;
  fill: #ffffff;
}
@media only screen and (max-width: 1023px) {
  .header__logo {
    z-index: 1;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.78rem;
}
@media only screen and (max-width: 1023px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.3125rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__item {
  position: relative;
  padding-bottom: 0.125rem;
}
.header__item:hover::after {
  content: "";
  width: 100%;
  height: 0.1875rem;
  background-color: #f1897b;
  opacity: 0.3;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header__link {
  text-decoration: none;
  color: #262a3f;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.07rem;
}
@media only screen and (max-width: 1023px) {
  .header__link {
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 1023px) {
  .header__nav {
    display: none;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    width: 100vw;
    top: -1.875rem;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    padding-top: 10rem;
  }
  .header__nav.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav.open .header__item:hover:after {
    content: "";
    display: none;
  }
}
.header__burger {
  display: none;
}
@media only screen and (max-width: 1023px) {
  .header__burger {
    display: block;
    padding-right: 0.25rem;
    cursor: pointer;
  }
  .header__burger.active .header__burger__item:nth-child(2) {
    opacity: 0;
  }
  .header__burger.active .header__burger__item:nth-child(1) {
    -webkit-transform: translateY(0.4063rem) rotate(45deg);
            transform: translateY(0.4063rem) rotate(45deg);
  }
  .header__burger.active .header__burger__item:nth-child(3) {
    -webkit-transform: translateY(-0.4063rem) rotate(-45deg);
            transform: translateY(-0.4063rem) rotate(-45deg);
  }
}
.header__burger__item {
  display: block;
  width: 1.5rem;
  height: 0.1563rem;
  margin: 0.25rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #262a3f;
}

.logo {
  width: 6.7rem;
  height: 2rem;
}

.hero {
  padding-top: 9.375rem;
}
@media only screen and (max-width: 599px) {
  .hero {
    padding-top: 16.625rem;
  }
}
.hero__title {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 3.25rem;
  text-align: left;
  color: #262a3f;
  max-width: 32.6875rem;
}
@media only screen and (max-width: 599px) {
  .hero__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.hero__title_green {
  font-style: italic;
  color: #85bbb1;
}
.hero__text {
  max-width: 27.4375rem;
  padding-top: 1.25rem;
  padding-bottom: 3rem;
}
@media only screen and (max-width: 599px) {
  .hero__text {
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding-bottom: 1.75rem;
  }
}

.statistic {
  padding-top: 9.25rem;
  padding-bottom: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 599px) {
  .statistic {
    padding-top: 3.5rem;
    padding-bottom: 1.375rem;
  }
}
@media only screen and (max-width: 1023px) {
  .statistic__image {
    display: none;
  }
}
.statistic__right {
  width: 100%;
  padding-left: 3.5rem;
  margin-left: -10.625rem;
  padding-top: 2.6875rem;
  padding-bottom: 2.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  opacity: 0.9;
  gap: 3.5rem;
}
@media only screen and (max-width: 1023px) {
  .statistic__right {
    margin-left: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
  }
}
@media only screen and (max-width: 1023px) and (max-width: 599px) {
  .statistic__right {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 599px) {
  .statistic__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 599px) {
  .statistic__right {
    gap: 2rem;
  }
}
.statistic__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4375rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 599px) {
  .statistic__numbers {
    gap: 1.5rem;
  }
}
.statistic__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.statistic__item:nth-child(1)::after, .statistic__item:nth-child(2)::after {
  content: "";
  width: 6.25rem;
  height: 0.0625rem;
  margin: 0 auto;
  margin-top: 1.75rem;
  background: #85bbb1;
}
@media only screen and (max-width: 599px) {
  .statistic__item:nth-child(1)::after, .statistic__item:nth-child(2)::after {
    margin-top: 1.125rem;
  }
}
@media only screen and (max-width: 1023px) {
  .statistic__item {
    width: 17.5rem;
  }
}
@media only screen and (max-width: 599px) {
  .statistic__item {
    gap: 0;
  }
}
.statistic__title {
  color: #262a3f;
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-size: 4.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem;
}
@media only screen and (max-width: 599px) {
  .statistic__title {
    font-size: 3rem;
    line-height: 3rem;
  }
}
.statistic__symbol {
  color: #e4e4e4;
  font-size: 2.5rem;
  line-height: 3.125rem;
}
.statistic__subtitle {
  color: #262a3f;
  text-align: center;
}
.statistic__copy {
  max-width: 25rem;
}
@media only screen and (max-width: 599px) {
  .statistic__copy {
    max-width: 100%;
  }
}
.statistic__text {
  color: #262a3f;
  padding-bottom: 1.625rem;
}
@media only screen and (max-width: 599px) {
  .statistic__text {
    padding-bottom: 0.75rem;
  }
}
.statistic__button_wrapper {
  padding-top: 1.5rem;
}
@media only screen and (max-width: 599px) {
  .statistic__button_wrapper {
    padding-top: 0.75rem;
  }
}

.benefits {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.125rem 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 4.5rem 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 4.5rem;
  -webkit-column-gap: 2.125rem;
     -moz-column-gap: 2.125rem;
          column-gap: 2.125rem;
  padding-bottom: 7.5rem;
}

.benefits > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.benefits > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.benefits > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.benefits > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
@media only screen and (max-width: 1023px) {
  .benefits {
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
  }
}
@media only screen and (max-width: 599px) {
  .benefits {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0 1fr 0 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 0;
    padding-bottom: 3.25rem;
  }
  .benefits > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .benefits > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .benefits > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}
.benefits__item {
  padding: 2.8125rem 3.75rem 1.25rem 2.1875rem;
  border-top: 0.0625rem solid #e4e4e4;
}
@media only screen and (max-width: 1023px) {
  .benefits__item {
    padding: 2.8125rem 1rem 1.25rem 1rem;
  }
}
@media only screen and (max-width: 599px) {
  .benefits__item {
    padding: 2.25rem 0rem 1.375rem 0rem;
  }
}
.benefits__title {
  padding-bottom: 1.75rem;
}
@media only screen and (max-width: 1023px) {
  .benefits__title {
    padding-bottom: 1rem;
  }
}
@media only screen and (max-width: 599px) {
  .benefits__title {
    padding-bottom: 0;
  }
}

.quote {
  padding-top: 0.5rem;
  padding-bottom: 7.5rem;
}
@media only screen and (max-width: 599px) {
  .quote {
    padding-bottom: 4.125rem;
  }
}
.quote__wrapper {
  background-image: url(../images/desktop/quote-background.webp);
  padding: 6.25rem 10rem 6.25rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
  position: relative;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 1023px) {
  .quote__wrapper {
    padding: 5rem 3.75rem 5rem 5rem;
  }
}
@media only screen and (max-width: 599px) {
  .quote__wrapper {
    padding: 4.25rem 1.5625rem 3.75rem 2.4375rem;
  }
}
.quote__icon {
  width: 6.375rem;
  height: 5.25rem;
  position: absolute;
  left: 6.25rem;
  top: 4.375rem;
  z-index: 0;
}
@media only screen and (max-width: 1023px) {
  .quote__icon {
    left: 2.5rem;
    top: 3rem;
  }
}
@media only screen and (max-width: 599px) {
  .quote__icon {
    left: 1.25rem;
    top: 1.75rem;
  }
}
.quote__text {
  max-width: 44.375rem;
  color: #ffffff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.875rem;
  letter-spacing: 0.08rem;
  z-index: 1;
}
@media only screen and (max-width: 599px) {
  .quote__text {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.04em;
  }
}

.video {
  padding-bottom: 7.5rem;
}
@media only screen and (max-width: 599px) {
  .video {
    padding-bottom: 0rem;
  }
}
.video__wrapper {
  border-radius: 2rem;
  border: 0.0625rem solid #e4e4e4;
  position: relative;
  width: 83%;
  aspect-ratio: 9.7/5.4;
  margin: 0 auto;
}
@media only screen and (max-width: 1023px) {
  .video__wrapper {
    width: 100%;
  }
}
.video__wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.5rem;
  width: 0.8125rem;
  height: 0.8125rem;
  border-radius: 2rem;
  border: 0.0625rem solid #e4e4e4;
}
@media only screen and (max-width: 599px) {
  .video__wrapper::before {
    left: 0.125rem;
    width: 0.3125rem;
    height: 0.3125rem;
  }
}
.video__wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.875rem;
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 2rem;
  border: 0.0625rem solid #e4e4e4;
}
@media only screen and (max-width: 599px) {
  .video__wrapper::after {
    right: 0.3125rem;
    width: 0.75rem;
    height: 0.75rem;
  }
}
.video__tablet {
  display: inline-block;
  max-width: 54.375rem;
  aspect-ratio: 87/53;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 1.9375rem 4.375rem 1.9375rem 1.875rem;
}
@media only screen and (max-width: 599px) {
  .video__tablet {
    padding: 0.625rem 1.5625rem 0.625rem 0.625rem;
  }
}
.video__item {
  padding-top: 3.25rem;
  max-width: 60.625rem;
  margin: 0 auto;
}
@media only screen and (max-width: 599px) {
  .video__item {
    padding-top: 1.375rem;
  }
}
.video__title {
  padding-bottom: 1.625rem;
}
@media only screen and (max-width: 599px) {
  .video__title {
    padding-bottom: 1rem;
  }
}
.video__text {
  max-width: 50rem;
}

video {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  opacity: 0.5;
}

.promises {
  padding-bottom: 7.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 599px) {
  .promises {
    padding-bottom: 4rem;
  }
}
@media only screen and (max-width: 1023px) {
  .promises__image {
    display: none;
  }
}
.promises__right {
  width: 100%;
  padding-left: 4.375rem;
  margin-left: -12.5rem;
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6.25rem 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 3.75rem 1fr;
  grid-template-rows: 1fr 1fr;
  background: #ffffff;
  opacity: 0.9;
  -webkit-column-gap: 6.25rem;
     -moz-column-gap: 6.25rem;
          column-gap: 6.25rem;
  row-gap: 3.75rem;
}
.promises__right > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.promises__right > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.promises__right > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.promises__right > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
@media only screen and (max-width: 1023px) {
  .promises__right {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0rem;
  }
}
@media only screen and (max-width: 599px) {
  .promises__right {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2rem 1fr 2rem 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    padding-top: 3.625rem;
    padding-bottom: 0;
    row-gap: 2rem;
  }
  .promises__right > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .promises__right > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .promises__right > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}
.promises__item {
  max-width: 18.75rem;
}
.promises__item:last-child {
  padding-top: 0.875rem;
}
@media only screen and (max-width: 599px) {
  .promises__item:last-child {
    width: 100%;
    padding-top: 0;
  }
}
.promises__title {
  color: #262a3f;
  font-family: "Playfair Display", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  padding-bottom: 0.5rem;
}
@media only screen and (max-width: 599px) {
  .promises__title {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-bottom: 0.75rem;
  }
}
.promises__text {
  color: #262a3f;
  opacity: 0.8;
  padding-bottom: 0.5rem;
}
@media only screen and (max-width: 599px) {
  .promises__text {
    text-align: center;
    padding-bottom: 0rem;
  }
}
.promises__button {
  display: block;
  margin: 0 auto;
}
.promises__button_border {
  border: 0.0625rem solid #e4e4e4;
  padding-top: 2.0625rem;
  padding-bottom: 2.0625rem;
}
@media only screen and (max-width: 599px) {
  .promises__button_border {
    width: 100%;
  }
}
.promises__button_border:hover {
  border: 0.0625rem solid #e54f3a;
}
.promises__button_border:hover .button {
  color: #e54f3a;
}
.promises__button_border:hover .button::after {
  background: #e54f3a;
}

.reviews {
  padding-bottom: 6.25rem;
}
@media only screen and (max-width: 599px) {
  .reviews {
    padding-bottom: 4rem;
  }
}
.reviews__text {
  padding-top: 1.25rem;
  padding-bottom: 3.125rem;
  max-width: 25rem;
}
@media only screen and (max-width: 599px) {
  .reviews__text {
    padding-top: 1.125rem;
    padding-bottom: 1.25rem;
  }
}
.reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.875rem;
}
@media only screen and (max-width: 1023px) {
  .reviews__row {
    gap: 0.5rem;
  }
}
.reviews__bg {
  width: 23.125rem;
  height: 21.25rem;
  position: relative;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 1023px) {
  .reviews__bg {
    width: 100%;
  }
}
.reviews__bg:nth-child(1) {
  background-image: url(../images/desktop/bg-1.webp);
}
.reviews__bg:nth-child(2) {
  background-image: url(../images/desktop/bg-2.webp);
}
.reviews__bg:nth-child(3) {
  background-image: url(../images/desktop/bg-3.webp);
}
.reviews__review {
  padding: 1.875rem 2.5rem 1.875rem 2.5rem;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(25, 28, 41, 0.6);
}
.reviews__copy {
  color: #ffffff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}
@media only screen and (max-width: 599px) {
  .reviews__copy {
    font-family: Lato;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
}

.contact {
  padding-top: 3.625rem;
  padding-bottom: 6.5rem;
  border-top: 0.0625rem solid #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 1023px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (max-width: 599px) {
  .contact {
    padding-top: 0rem;
    padding-bottom: 4rem;
  }
}
.contact__item {
  padding-top: 1rem;
}
@media only screen and (max-width: 599px) {
  .contact__item {
    width: 100%;
  }
}
.contact__title {
  padding-bottom: 1.8125rem;
}
@media only screen and (max-width: 599px) {
  .contact__title {
    padding-bottom: 1rem;
  }
}
.contact__text {
  max-width: 29.375rem;
}
@media only screen and (max-width: 599px) {
  .contact__text {
    max-width: 20.625rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    text-align: left;
  }
}
.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.375rem;
}
@media only screen and (max-width: 599px) {
  .contact__form {
    width: 100%;
  }
}
.contact__input {
  width: 29.375rem;
  border: none;
  border-bottom: 0.0625rem solid #e4e4e4;
  padding-bottom: 0.75rem;
  color: rgba(38, 42, 63, 0.5);
  font-family: "Playfair Display", sans-serif;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.09rem;
}
@media only screen and (max-width: 599px) {
  .contact__input {
    width: 100%;
  }
}
.contact__input:focus-visible {
  outline: none;
  border-bottom: 0.0625rem solid #e54f3a;
}
.contact__button {
  width: 10.5rem;
}

main {
  width: 100%;
}

.banner {
  width: 100%;
  height: 62.0625rem;
  background-image: url(../images/desktop/first-screen-image.webp);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media only screen and (max-width: 599px) {
  .banner {
    background-image: url(../images/mobile/m-first-screen-image.webp);
  }
}
.banner__gradient {
  width: 100%;
  height: 51.625rem;
  position: absolute;
  top: 176px;
  left: 0;
  z-index: -1;
}

.button {
  font-family: "lato", sans-serif;
  color: #f1897b;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: none;
  background: none;
  position: relative;
  padding-block: 0rem;
  padding-inline: 0rem;
  cursor: pointer;
}
.button::after {
  content: "";
  width: 100%;
  height: 0.8125rem;
  margin-left: 0.625rem;
  position: absolute;
  bottom: -0.25rem;
  right: -0.4375rem;
  opacity: 0.3;
  background: #f1897b;
}
.button:hover {
  color: #e54f3a;
}
.button:hover::after {
  background: #e54f3a;
}

.title {
  color: #262a3f;
  font-family: "Playfair Display", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
}
@media only screen and (max-width: 599px) {
  .title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
.title_green {
  color: #85bbb1;
  font-style: italic;
}

.name {
  color: #ffffff;
  font-family: "Playfair Display", sans-serif;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.1rem;
}

.text {
  opacity: 0.8;
}

.footer__container {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  border-top: 0.0625rem solid #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 599px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
  }
}
.footer__text {
  color: #262a3f;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.625rem;
  opacity: 0.6;
}
.footer__link {
  text-decoration: none;
  color: #262a3f;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.07rem;
  opacity: 1;
}
.footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  color: #262a3f;
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.625rem;
  text-align: left;
}
@media only screen and (max-width: 599px) {
  body {
    font-size: 1rem;
  }
}

main {
  width: 100vw;
}

.container {
  max-width: 73.125rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0 auto;
}

.quote {
  stroke: url(../index.html#quote_gradient);
  fill: none;
}