main {
  background-color: #3399cc;
  border: 25px solid #2b81ac;
}

h1 {
  padding: 30px 0;
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 40px;
  line-height: 24.61px;
  text-align: center;
  color: white;
}

li {
  display: inline-block;
  width: 25%;
  height: 147px;
  vertical-align: middle;
  border: 2px solid white;
  box-sizing: border-box;
  opacity: 0.7;
}

li:hover {
  opacity: 1;
}

ul {
  margin: 0 110px 37px 110px;
  font-size: 0;
  border: 2px solid white;
  background-color: white;
}

h2 {
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 22px;
  line-height: 25.78px;
  text-align: center;
  color: white;
  padding-top: 26px;
  padding-bottom: 19px;
}
p {
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 22px;
  line-height: 25.78px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.wi-city {
  font-family: 'Weather Icons';
  font-size: 42px;
  font-weight: 400;
  line-height: 60.76px;
  text-align: left;
  vertical-align: middle;
  margin-left: 11px;
}

li:first-child {
  width: 50%;

  background-color: #3399cc;
}

li:nth-child(2) {
  background-color: #33cccc;
}

li:nth-child(3) {
  background-color: #996699;
}
li:nth-child(4) {
  background-color: #c24747;
}
li:nth-child(5) {
  background-color: #e2674a;
}
li:nth-child(6) {
  background-color: #ffcc66;
}
li:nth-child(7) {
  background-color: #99cc99;
}
li:nth-child(8) {
  background-color: #669999;
}
li:nth-child(9) {
  width: 50%;
  background-color: #cc6699;
}
li:nth-child(10) {
  background-color: #339966;
}
li:last-child {
  width: 100%;
  background-color: #666699;
}

small {
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 16px;
  line-height: 18.75px;
  text-align: left;
  color: white;
}

.small {
  width: 100%;
  margin-left: 110px;
  padding-bottom: 119px;
}
