@import 'reset-style.scss';
@import '_variables.scss';
@import '_font.scss';

.header {
  width: 100%;
  height: 6.25rem;
  display: flex;
  justify-content: space-between;

  @include media-query('tablet') {
    height: 60px;
  }

  &__logo {
    width: 141.79px;

    height: 100%;
    fill: $color-black;
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 5rem;
  }
  &__nav {
    display: flex;
    gap: 2.35rem;
  }
  &__link {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.05rem;
    letter-spacing: 0.3em;
    text-align: left;
    text-transform: uppercase;
    color: $color-black;
  }
  &__item {
    height: 22px;

    &:hover::after {
      content: '';
      display: block;
      width: 40px;
      height: 1px;
      background-color: $color-black;
      margin: 0 auto;
      margin-top: 5px;
    }
  }

  &__search {
    width: 1.063rem;
    fill: $color-black;
  }
  &__checkbox {
    display: none;
  }
}

.container {
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-left: 2.125rem;
  padding-right: 2.125rem;

  @include media-query('phone') {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}

.hero {
  width: 100%;
  height: 37.5rem;
  background-image: url(../images/desktop/d-hero.webp);
  background-size: cover;
  background-position: center;

  @include media-query('phone') {
    height: 37.5rem;
    background-image: url(../images/mobile/m-hero.webp) no-repeat;
  }

  @include media-query('tablet') {
    height: 20rem;
    background-image: url(../images/tablet/t-hero.webp) no-repeat;
  }

  //   @include responsive('medium') {
  //     height: 20rem;
  //     background-image: url(../images/desktop/t-hero.webp);
  //   }
  //   @include responsive('small') {
  //     height: 37.5rem;
  //     background-image: url(../images/desktop/m-hero.webp);
  //   }

  &__title {
    width: 100%;
    padding-top: 6.25rem;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    line-height: 4rem;
    letter-spacing: 0.05em;
    text-align: left;

    @include media-query('phone') {
      padding-top: 4.375rem;
      font-size: 1.875rem;
      line-height: 3.125rem;
    }

    @include media-query('tablet') {
      padding-top: 1.875rem;
      font-size: 2.25rem;
      line-height: 3.125rem;
    }
  }
}

.blog {
  padding-top: 5.625rem;
  padding-bottom: 4.375rem;

  @include media-query('tablet') {
    padding-top: 70px;
  }

  &__title {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: 0.05em;
    text-align: left;
    padding-bottom: 3.125rem;
  }

  &__post {
    display: flex;

    gap: 1.875rem;

    @include media-query('tablet') {
      gap: 1.4rem;
    }
  }

  &__post1 {
    padding-bottom: 2.9rem;
  }
  &__picture2 {
    order: 2;
  }
  &__post2 {
    justify-content: end;
    @include media-query('tablet') {
      justify-content: start;
    }
  }
}

.article {
  padding-top: 5.25rem;

  @include media-query('tablet') {
    padding-top: 0;
  }

  &__title {
    max-width: 28rem;

    padding-top: 1.6rem;
    padding-bottom: 0.6rem;

    @include media-query('tablet') {
      max-width: 340px;

      padding-top: 1.5rem;
    }
  }
  &__date {
    padding-bottom: 3rem;
    @include media-query('tablet') {
      padding-bottom: 2.3rem;
    }
  }
  &__text {
    max-width: 28rem;
    @include media-query('tablet') {
      max-width: 340px;
      height: 80px;
      overflow: hidden;
    }
  }
}

.arrow {
  width: 1.438rem;
  height: 0.688rem;
  outline: $color-grey500;
  padding-left: 0.8rem;
}

.subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.66rem;
  letter-spacing: 0.1em;
  text-align: left;
  color: $color-grey500;
}
.title {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 2.386rem;
  letter-spacing: 0.1em;
  text-align: left;
  color: $color-black;
}
.date {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.66rem;
  letter-spacing: 0.1em;
  text-align: left;
  color: $color-grey500;
}
.text {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.66rem;
  letter-spacing: 0.05em;
  text-align: left;
  color: $color-grey700;
}

.section {
  padding-top: 1rem;
  @include media-query('tablet') {
    padding-top: 0rem;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2.7rem;
  }

  &__title {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 46.48px;
    letter-spacing: 0.1em;
    text-align: left;
    color: $color-black;
  }

  &__action {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.56px;
    letter-spacing: 0.1em;
    text-align: left;
    color: $color-grey500;

    @include media-query('tablet') {
      display: flexbox;
      width: 180px;
      justify-content: end;
      align-items: center;
      text-decoration: none;
    }
  }

  &__posts {
    display: flex;
    gap: 1.9rem;

    @include media-query('tablet') {
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}

.post {
  @include media-query('tablet') {
    display: flex;
    gap: 1.2rem;
  }
  &__right {
    @include media-query('tablet') {
      max-width: 340px;
    }
  }

  &__left {
    @include media-query('tablet') {
      order: 2;
    }
  }

  &__capture {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    @include media-query('tablet') {
      padding-top: 0;
    }
  }
  &__subtitle,
  &__date {
    font-size: 12px;
  }

  &__title {
    padding-bottom: 1rem;
    font-size: 22px;
    line-height: 36.52px;
  }

  &__text {
    padding-right: 1rem;
  }
}

.popular {
  padding-top: 7.2rem;
  @include media-query('tablet') {
    padding-top: 4rem;
  }
  &__posts {
    flex-direction: row;
  }

  &__post {
    @include media-query('tablet') {
      flex-direction: column;
      max-width: 340px;
      gap: 0;
    }
  }

  &__capture {
    padding-top: 1rem;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 1rem;
  }
  &__button {
    width: 180px;
    height: 46px;
    background-color: $color-grey700;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26.56px;
    letter-spacing: 0.1em;
    text-align: center;
    color: $color-white;

    &-wr {
      padding-top: 54px;
      padding-bottom: 90px;
      display: flex;
      justify-content: center;
      @include media-query('tablet') {
        padding-top: 64px;
        padding-bottom: 70px;
      }
    }
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
  @include media-query('tablet') {
    flex-direction: column;
    align-items: end;
    padding-bottom: 58px;
  }

  &__left {
    width: 40%;
    @include media-query('tablet') {
      width: 100%;
      padding-bottom: 42px;
    }
  }
  &__title {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 38.18px;
    letter-spacing: 0.1em;
    text-align: left;
  }

  &__link {
    text-decoration: none;
    color: $color-black;
  }

  &__text {
    width: 40%;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-align: left;
    color: $color-black;
    @include media-query('tablet') {
      width: 85%;
      text-align: right;
      padding-right: 9%;
    }
  }

  &__arrow {
    padding-top: 0.9rem;
    width: 1.438rem;
    height: 0.688rem;
    outline: $color-grey500;
  }
}

.footer {
  background-color: $color-grey100;
  padding-bottom: 30px;
  margin: 0 auto;

  &__top {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-query('tablet') {
      padding-top: 50px;
      flex-direction: column;
    }
  }
  &__title {
    padding-bottom: 1.5rem;
    @include media-query('tablet') {
      padding-bottom: 1.3rem;
    }
  }

  &__text {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.56px;
    letter-spacing: 0.1em;
    text-align: left;
    color: $color-black;
    text-decoration: none;
    padding-bottom: 1rem;
    @include media-query('tablet') {
      padding-bottom: 0.8rem;
      display: block;
      text-align: center;
    }
  }

  &__copyright {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.92px;
    letter-spacing: 0.1em;
    text-align: center;
    padding-top: 25px;
  }
  &__right {
    display: flex;
    gap: 1.4rem;
    @include media-query('tablet') {
      padding-top: 2.2rem;
      padding-bottom: 1rem;
    }
  }

  &__sm {
    width: 50px;
    height: 50px;
    border: 1px solid $color-grey700;
    cursor: pointer;

    &__icon {
      display: block;
      box-sizing: border-box;
      width: 50px;
      height: 50px;
      fill: $color-grey700;
    }

    &:hover {
      background-color: $color-grey700;
    }
    &:hover &__icon {
      fill: $color-white;
    }
  }
}
