@import 'reset-style.scss';
@import '_variables.scss';
@import '_font.scss';
@import '_header.scss';
@import '_hero.scss';
@import '_blog.scss';
@import '_popular.scss';
@import '_bottom.scss';
@import '_footer.scss';

.container {
  max-width: 73.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-left: 2.125rem;
  padding-right: 2.125rem;

  @include media-query('phone') {
    padding-left: 0.6rem;
    padding-right: 0.6em;
    align-items: center;
    max-width: 18.75rem;
  }
}
