main {
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 18px;
  line-height: 21.83px;
  color: #070707;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.header__nav {
  width: 100%;
  border-bottom: 1px solid rgba(130, 130, 130, 1);
}

.header__list {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__link {
  text-decoration: none;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 18px;
  line-height: 22.28px;
  text-align: left;
  color: #828282;
}

.header__link:hover {
  color: #070707;
}
.hero__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 34px;
}
.hero__title {
  font-family: 'Gilroy', sans-serif;
  font-size: 47.34px;
  font-weight: 700;
  line-height: 58.61px;
  text-align: left;
  color: #070707;
}

.hero__text {
  margin-top: 42px;
}

.hero__swicher {
  display: flex;
  gap: 4px;
  transform: rotate(-90deg);
  margin-top: 16px;
}

.hero {
  padding-bottom: 100px;
}

.hero__language {
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 16px;
  line-height: 19.81px;
  text-align: left;
  color: #828282;
}

.hero__language_active {
  color: #000000;
}

.about {
  background-color: #f6f6f6;
  padding-top: 114px;
  padding-bottom: 63px;
}

.title {
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 34px;
  line-height: 42.09px;
  text-align: center;
}
.about__title {
  padding-bottom: 20px;
}

.text {
  text-align: center;
}

.about__text {
  padding-bottom: 44px;
}

.skills {
  padding-top: 88px;
  margin-bottom: 114px;
}

.skills__title {
  padding-bottom: 56px;
}

.skills__text {
  padding-bottom: 88px;
}

.skills__programs {
  display: flex;
  justify-content: space-between;
}

.program {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.program {
  width: 167px;
}

.program__icon {
  height: 88px;
  padding-bottom: 23px;
}

.program__title {
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 14px;
  line-height: 17.33px;
  text-align: center;
  color: #828282;
}

.program__rating {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
}

.portfolio {
  background-color: #f6f6f6;
  padding-top: 110px;
}
.portfolio__title {
  padding-bottom: 52px;
}

.portfolio__img {
  padding-bottom: 37px;
}

.portfolio__project {
  padding-bottom: 100px;
}
.portfolio__link {
  text-align: center;
  color: #070707;
}

.contacts {
  padding-top: 110px;
  padding-bottom: 123px;
}

.contacts__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__title {
  padding-bottom: 24px;
}
.contacts__text {
  padding-bottom: 30px;
}
.contacts__btn {
  width: 180px;
  height: 42px;
  background-color: #070707;
  color: #ffffff;
  border-radius: 50px;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 18px;
  line-height: 22.28px;
  text-align: center;
  border: none;
}

.contacts__sm {
  display: flex;
  gap: 62px;
  padding-top: 86px;
  padding-bottom: 46px;
}

.contacts__text_gray {
  font-size: 14px;
  line-height: 16.98px;
  text-align: center;
  color: #828282;
}
